<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<modal-header [title]="'_#(data.physicalmodel.inlineView)'"
              [cshid]="'InlineView'"
              (onCancel)="cancel()">
</modal-header>
<div class="modal-body">
  <form class="container-fluid">
    <div class="row">
      <div class="form-group col-12 form-floating">
          <input #input type="text" [formControl]="nameCtrl"
                 name="name"
                 [class.is-invalid]="nameCtrl.invalid"
                 class="form-control"
                 [(ngModel)]="model.name"/>
          <label>_#(data.physicalmodel.inlineViewName)</label>
          <span class="invalid-feedback" *ngIf="nameCtrl.hasError('required')">
              _#(data.model.nameRequired)
          </span>
          <span class="invalid-feedback" *ngIf="nameCtrl.hasError('invalidDataModelName')">
              _#(data.physicalmodel.inlineViewNameInvalid)
          </span>
      </div>
      <div class="col-12 form-floating">
          <data-model-script-pane class="form-control form-control-sm p-0"
                                  [style.height]="'auto'"
                                  [class.is-invalid]="!model.sql || sqlInvalid"
                                  [expression]="model.sql"
                                  [sql]="true"
                                  (expressionChange)="expressionChanged($event)">
          </data-model-script-pane>
          <label>_#(data.physicalmodel.inlineViewQuery)</label>
          <span class="invalid-feedback" *ngIf="!model.sql">
            _#(data.physicalmodel.inlineViewQueryRequired)
          </span>
          <span class="invalid-feedback" *ngIf="model.sql && sqlInvalid">
            _#(data.physicalmodel.inlineViewQueryInvalid)
          </span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="ok()"
          [disabled]="nameCtrl.invalid || !model.sql || sqlInvalid">_#(OK)
  </button>
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">_#(Cancel)
  </button>
</div>
