/**
 * inetsoft-core - StyleBI is a business intelligence web application.
 * Copyright © 2024 InetSoft Technology (info@inetsoft.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
test.simple-variables {
  --background-color-var: red;
  --color-var: blue;
  --font-var: bold 20px Courier;
  --text-align-var: right;
  --vertical-align-var: middle;
  --border-var: 20px double red;
  --opacity-var: 0.5;
  --word-wrap-var: break-word;
  --border-radius-var: 10px;
  --padding-var: 2px 4px;
  --width-var: 200px;
  --height-var: 250px;
  --visibility-var: hidden;

  background-color: var(--background-color-var);
  color: var(--color-var);
  font: var(--font-var);
  text-align: var(--text-align-var);
  vertical-align: var(--vertical-align-var);
  border: var(--border-var);
  opacity: var(--opacity-var);
  word-wrap: var(--word-wrap-var);
  border-radius: var(--border-radius-var);
  padding: var(--padding-var);
  width: var(--width-var);
  height: var(--height-var);
  visibility: var(--visibility-var);
}
