<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<em-license-key-list
  title="_#(Server Licenses)"
  [(keys)]="serverKeys"
>
</em-license-key-list>
<em-license-key-list
  title="_#(Scheduler Licenses)"
  [scheduler]="true"
  [(keys)]="schedulerKeys"
>
</em-license-key-list>
<mat-card appearance="outlined" class="em-card" *ngIf="cluster && pooledClusterLicense">
  <mat-card-title class="flex-col">_#(Cluster Licenses)</mat-card-title>
  <mat-card-content class="flex-col">
    <table mat-table [dataSource]="clusterDataSource">
      <ng-container matColumnDef="server">
        <th mat-header-cell *matHeaderCellDef>_#(Server)</th>
        <td mat-cell *matCellDef="let row">
          <div class="mat-subtitle-2">{{row.server}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="license">
        <th mat-header-cell *matHeaderCellDef>_#(License)</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="!!row.license">
            <div class="mat-subtitle-2">{{row.license}}</div>
            <div class="mat-body-2">{{row.licenseType}}</div>
          </ng-container>
          <div *ngIf="!!!row.license" class="mat-subtitle-2">_#(em.cluster.key.required)</div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="clusterColumnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: clusterColumnsToDisplay"></tr>
    </table>
  </mat-card-content>
</mat-card>