/**
 * inetsoft-web - StyleBI is a business intelligence web application.
 * Copyright © 2024 InetSoft Technology (info@inetsoft.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affrero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
:host {
  display: flex;
  height: 100%;
  flex-direction: column;

  .flat-tree {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .mat-tree-node:hover {
    cursor: pointer;
  }

  .em-flat-tree-menu {
    visibility: hidden;
    display: inline-block;
  }

  .mat-tree-node:hover, .mat-tree-node.selected {
    .em-flat-tree-menu {
      visibility: visible;
    }
  }

  .mat-tree-node {
    display: flex;
    align-items: center;
    min-height: 48px;
    flex: 1 1 auto;
    font-size: 12px;

    > button, .mat-icon {
      flex: 0 0 auto;
    }

    > .flat-tree-node-label {
      flex: 1 1 auto;
      word-wrap: break-word;
    }

    > .flat-tree-node-no-wrap-label {
      white-space: nowrap;
    }

    .menu-btn-container {
      position: sticky;
      right: 0;
    }
  }
}