<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<w-standard-dialog [title]="edit ? '_#(Edit Folder)' : '_#(Create Folder)'"
                   (onClose)="closeDialog()"
                   [submitOnEnter]="isValid"
                   (onSubmit)="okClicked()">
  <ng-template wDialogContent>
    <div class="mt-2">
      <form ngNoForm class="container-fluid">
        <div class="form-row-float-label form-row">
          <div class="form-floating col">
            <input class="form-control" type="text" [(ngModel)]="name" [formControl]="nameControl"
                   placeholder="_#(Folder Name)"
                   [class.is-invalid]="!nameControl.valid && nameControl.dirty"/>
            <label>_#(Folder Name)</label>
            <span class="invalid-feedback"
                  *ngIf="nameControl.getError('required')">
              _#(enter.name)
            </span>
            <span class="invalid-feedback"
                  *ngIf="nameControl.getError('assetEntryBannedCharacters')">
              _#(repository.tree.SpecialChar)
            </span>
            <span class="invalid-feedback"
                  *ngIf="nameControl.getError('assetNameStartWithCharDigit')">
              _#(common.autodrill.parameter.name.startCharDigitError)
            </span>
            <span class="invalid-feedback"
                  *ngIf="nameControl.getError('endsWithPeriod')">
              _#(name.end.period)
            </span>
          </div>
        </div>
        <div class="form-row-float-label form-row">
          <div class="form-floating col">
            <input class="form-control" type="text" [(ngModel)]="alias"
                   placeholder="_#(Alias)"/>
            <label>_#(Alias)</label>
          </div>
        </div>
        <div class="form-row-float-label form-row">
          <div class="form-floating col">
            <textarea class="form-control" type="text" [(ngModel)]="description"
                      placeholder="_#(Description)"></textarea>
            <label>_#(Description)</label>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <ng-template wDialogButtons>
    <button type="button" class="btn btn-primary" (click)="okClicked()" [disabled]="!isValid()">
      _#(OK)
    </button>
    <button type="button" class="btn btn-default" (click)="closeDialog()">_#(Cancel)</button>
  </ng-template>
</w-standard-dialog>
