<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div *ngIf="openNodes" class="d-flex flex-wrap"
     role="list" tabindex="0" aria-labelledby="repository-list-title">
  <div class="previous-node-container p-2">
    <ng-container *ngIf="openNodes.length > 1">
      <span class="href-style" (click)="upClicked()"
            role="link" tabindex="0" aria-label="_#(Parent Folder)" enterClick>[Up...]</span>
      <span id="repository-list-title">{{openNodes[openNodes.length - 1].label}}</span>
    </ng-container>
    <ng-container *ngIf="openNodes.length === 1">
      <span id="repository-list-title">[...]{{openNodes[openNodes.length - 1].label}}</span>
    </ng-container>
  </div>
  <div *ngFor="let node of openNodes[openNodes.length - 1].children"
       class="repository-list-item px-2 py-1" role="listitem"
      (contextmenu)="openTreeContextmenu($event, node)">
    <span class="{{getCSSIcon(node)}}"></span>
    <span class="href-style ps-1" tabindex="0" [title]="node.label"
          (click)="nodeClicked(node)" enterClick>
      {{node.label}}
    </span>
  </div>
</div>
