<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div style="float:left;" class="radio-inline radio-image-inline"
     *ngFor="let _rotation of rotationStyles; let _i = index">
  <input type="radio" name="rotation" class="radio-image" [checked]="isChecked(_i)" 
          (click)="select(_i)"/>
  <div class="{{_rotation.clazz}}" (click)="select(_i)" [class.bd-selected]="isChecked(_i)"></div>
</div>

