/**
 * inetsoft-web - StyleBI is a business intelligence web application.
 * Copyright © 2024 InetSoft Technology (info@inetsoft.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affrero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
.tabs-bottom li {
  margin-top: 0px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs-bottom li.nav-disabled {
  display: none;
}

.tabs-bottom li.nav-disabled.nav-always-show {
  display: block;
  opacity: 0.5;
}

.tabs-bottom.nav-tabs > li > a {
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
  flex-grow: 1;
}

.tabs-bottom.nav-tabs > li > a:hover,
.tabs-bottom.nav-tabs > li > a:focus {
  border-color: transparent;
}

.nav-tabs .nav-item {
  margin-bottom: 1px;
}