<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<app-error-message></app-error-message>

<div *ngIf="model"
     [title]="viewer && model.text ? model.text : ''"
     class="TextInput"
     VSDataTip [dataTipName]="getAssemblyName()"
     VSPopComponent [popComponentName]="getAssemblyName()" [popContainerName]="model.container"
     [popZIndex]="model.objectFormat.zIndex"
     [style.display]="getVisible() ? null : 'none'"
     [class.fade-assembly]="!viewer && !model.visible"
     [class.disable-actions-fade]="!model.enabled"
     [style.top.px]="viewer || embeddedVS ? model.objectFormat.top : null"
     [style.left.px]="viewer || embeddedVS ? model.objectFormat.left : null"
     [style.position]="viewer || embeddedVS ? 'absolute' : 'relative'"
     [style.width.px]="model.objectFormat.width"
     [style.height.px]="model.objectFormat.height"
     [style.z-index]="viewer ? model.objectFormat.zIndex : null"
     (dblclick)="enableEditing()">
   <textarea *ngIf="model.option == 'Text' && model.multiLine" #thisTextArea
             [(ngModel)]="model.text"
             (keyup)="onKey($event)"
             (blur)="onBlur()"
             class="TextInputEntryArea"
             [class.wrapped]="wrapped"
             [class.moz-wrapped]="wrapped && firefox"
             [attr.aria-label]="model.absoluteName + ' _#(TextArea)'"
             [disabled]="!model.enabled"
             [placeholder]="model.prompt"
             [style.width.px]="model.objectFormat.width"
             [style.height.px]="model.objectFormat.height"
             [style.border-bottom]="model.objectFormat.border.bottom"
             [style.border-top]="model.objectFormat.border.top"
             [style.border-left]="model.objectFormat.border.left"
             [style.border-right]="model.objectFormat.border.right"
             [style.border-radius.px]="model.objectFormat.roundCorner"
             [style.color]="model.objectFormat.foreground"
             [style.background-color]="model.objectFormat.background"
             [safeFont]="model.objectFormat.font"
             [style.text-align]="model.objectFormat.hAlign"
             [style.text-decoration]="model.objectFormat.decoration"
             [style.border-style]="getBorderStyle()"
             [class.disable-input]="isInputDisabled()">
   </textarea>
  <input
    *ngIf="(model.option != 'Date' && model.option != 'Text') || (model.option == 'Text' && !model.multiLine)"
    #thisTextArea
    [type]="getType()"
    [(ngModel)]="model.text" (ngModelChange)="onTextChange()"
    (keyup)="onKey($event)"
    (blur)="onBlur()"
    class="TextInputEntryArea"
    [attr.aria-label]="model.absoluteName + ' _#(TextInput)'"
    [disabled]="!model.enabled"
    [placeholder]="model.prompt"
    [style.width.px]="model.objectFormat.width"
    [style.height.px]="model.objectFormat.height"
    [style.border-bottom]="model.objectFormat.border.bottom"
    [style.border-top]="model.objectFormat.border.top"
    [style.border-left]="model.objectFormat.border.left"
    [style.border-right]="model.objectFormat.border.right"
    [style.color]="model.objectFormat.foreground"
    [style.background-color]="model.objectFormat.background"
    [style.border-radius.px]="model.objectFormat.roundCorner"
    [safeFont]="model.objectFormat.font"
    [style.text-align]="model.objectFormat.hAlign"
    [style.text-decoration]="model.objectFormat.decoration"
    [style.white-space]="model.objectFormat.wrapping.whiteSpace"
    [style.wordWrap]="model.objectFormat.wrapping.wordWrap"
    [style.overflow]="model.objectFormat.wrapping.overflow"
    [style.border-style]="getBorderStyle()"
    [class.disable-input]="isInputDisabled()">
  <div *ngIf="model.option == 'Date'"
       [style.width.px]="model.objectFormat.width">
    <input #thisTextArea placeholder="yyyy-mm-dd"
           [(ngModel)]="model.text"
           (keyup)="onKey($event)"
           (blur)="onBlur()"
           class="TextInputEntryArea"
           [attr.aria-label]="model.absoluteName + ' _#(Date Input)'"
           [disabled]="!model.enabled"
           [style.width.px]="model.objectFormat.width"
           [style.height.px]="model.objectFormat.height"
           [style.border-bottom]="model.objectFormat.border.bottom"
           [style.border-top]="model.objectFormat.border.top"
           [style.border-left]="model.objectFormat.border.left"
           [style.border-right]="model.objectFormat.border.right"
           [style.color]="model.objectFormat.foreground"
           [style.background-color]="model.objectFormat.background"
           [style.border-radius.px]="model.objectFormat.roundCorner"
           [safeFont]="model.objectFormat.font"
           [style.text-align]="model.objectFormat.hAlign"
           [style.text-decoration]="model.objectFormat.decoration"
           [style.white-space]="model.objectFormat.wrapping.whiteSpace"
           [style.wordWrap]="model.objectFormat.wrapping.wordWrap"
           [style.overflow]="model.objectFormat.wrapping.overflow"
           [style.border-style]="getBorderStyle()"
           [class.disable-input]="isInputDisabled()">
    <i #calendarButton class="calendar-icon date-editor-toggle" tabindex="-1" enterClick
       role="button" aria-haspopup="true" [attr.aria-label]="model.absoluteName + ' _#(Date Input)'"
       [class.bd-selected-cell]="focused == FocusRegions.CALENDAR" [class.disable-input]="isInputDisabled()"
       [fixedDropdown]="dropdownMenu" [autoClose]="false" dropdownPlacement="bottom" [style.color]="model.objectFormat.foreground"></i>
    <ng-template #dropdownMenu>
      <div class="dropdown-datepicker">
        <ngb-datepicker #dp [ngModel]="date" defaultFocus [autoSelect]="false" [startDate]="date"
                        [minDate]="minDate" [maxDate]="maxDate" [firstDayOfWeek]="firstDayOfWeek"
                        [attr.aria-label]="model.absoluteName + ' _#(Date Input) _#(Calendar)'"
                        (ngModelChange)="focused == FocusRegions.CALENDAR ? dp.focus() : ''; setDateFromDatepicker($event)"></ngb-datepicker>
      </div>
    </ng-template>
  </div>
</div>
