[submodule "enterprise"]
	path = enterprise
	url = https://repo.inetsoft.com/stylebi/stylebi-enterprise
	update = merge
	branch = master
[submodule "integration"]
	path = integration
	url = https://repo.inetsoft.com/stylebi/stylebi-integration
	update = merge
	branch = master
[submodule "shell"]
	path = shell
	url = https://repo.inetsoft.com/stylebi/stylebi-shell
	update = merge
	branch = master
[submodule "docker/enterprise"]
	path = docker/enterprise
	url = https://repo.inetsoft.com/stylebi/stylebi-docker-enterprise
	update = merge
	branch = master
[submodule "enterprise-build-tools"]
	path = enterprise-build-tools
	url = https://repo.inetsoft.com/stylebi/stylebi-enterprise-build-tools
	update = merge
	branch = master
[submodule "enterprise-connectors"]
	path = enterprise-connectors
	url = https://repo.inetsoft.com/stylebi/stylebi-enterprise-connectors
	update = merge
	branch = master
