<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<modal-header [title]="title" (onCancel)="onClose.emit()">
</modal-header>
<div class="modal-body">
  <div class="bordered-box bd-gray" *ngIf="values.length > 0">
    <div *ngFor="let val of values" [title]="val"
         [class.selected]="isSelectedValue(val)"
         (click)="selectValue(val)">
      {{ val }}
    </div>
  </div>
  <p *ngIf="values.length == 0" class="text-center mt-2 mb-2">_#(data.query.columnResultEmpty)</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="onClose.emit()">_#(Close)</button>
</div>
