{{#packageName}}package {{packageName}};{{/packageName}}

@javax.annotation.processing.Generated("inetsoft.cluster.apt.ClusterAnnotationProcessor")
@org.springframework.stereotype.Service
public class {{proxySimpleName}} {
{{#methods}}

   public static final class {{callableClassName}} implements org.apache.ignite.lang.IgniteCallable<{{{returnType}}}> {
   {{#parameters}}
      {{#value.transferred}}private final {{{value.type}}} {{value.name}};{{/value.transferred}}
   {{/parameters}}
      private final inetsoft.web.ServiceProxyContext serviceProxyContext = new inetsoft.web.ServiceProxyContext();

      public {{callableClassName}}({{#parameters}}{{^first}}, {{/first}}{{{value.type}}} {{value.name}}{{/parameters}}) {
      {{#parameters}}
         {{#value.transferred}}this.{{value.name}} = {{value.name}};{{/value.transferred}}
      {{/parameters}}
      }

      public {{{returnType}}} call() throws Exception {
         serviceProxyContext.preprocess();

         try {
            {{targetClass}} service = inetsoft.util.ConfigurationContext.getContext().getSpringBean({{targetClass}}.class);
            return service.{{name}}({{#parameters}}{{^first}}, {{/first}}{{value.getter}}{{/parameters}});
         }
         finally {
            serviceProxyContext.postprocess();
         }
      }
   }

   public {{{returnType}}} {{name}}({{#parameters}}{{^first}}, {{/first}}{{{value.type}}} {{value.name}}{{/parameters}}){{#exceptions}}{{#first}} throws {{/first}}{{^first}}, {{/first}}{{value}}{{/exceptions}} {
      inetsoft.sree.internal.cluster.ignite.IgniteCluster cluster = (inetsoft.sree.internal.cluster.ignite.IgniteCluster) inetsoft.sree.internal.cluster.Cluster.getInstance();

      if(cluster.isLocalCacheKey("{{cacheName}}", {{keyParam}})) {
         {{targetClass}} service = inetsoft.util.ConfigurationContext.getContext().getSpringBean({{targetClass}}.class);
         return service.{{name}}({{#parameters}}{{^first}}, {{/first}}{{value.name}}{{/parameters}});
      }

      org.apache.ignite.Ignite ignite = cluster.getIgniteInstance();
      {{callableClassName}} serviceProxyCallable = new {{callableClassName}}({{#parameters}}{{^first}}, {{/first}}{{value.name}}{{/parameters}});

      try {
         return ignite.compute().affinityCall("{{cacheName}}", {{keyParam}}, serviceProxyCallable);
      }
      finally {
         serviceProxyCallable.serviceProxyContext.apply();
      }
   }
{{/methods}}
}
