/**
 * inetsoft-web - StyleBI is a business intelligence web application.
 * Copyright © 2024 InetSoft Technology (info@inetsoft.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affrero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
.tree-container {
   height: 25em;
}

.select-worksheet-legend {
   display: flex;
   align-items: center;
}

.parameter-container {
   margin-top: 15px;
   margin-bottom: 15px;
}

.field-combo {
   display: inline-flex;
   align-items: flex-start;
   width: 100%;

   .field-combo-toggle {
      padding-right: 3px;
      padding-left: 3px;
      width: 160px;
      border-radius: 0.25rem;
      flex-grow: 1;
      display: flex;
      align-items: center;

      span {
         flex-grow: 1;
      }
   }
}

.field-combo-text {
   width: calc(100% - 20px);
   display: inline-flex;
   overflow: hidden;
   text-overflow: clip;
   white-space: nowrap;
   cursor: default;
}

.field-combo-dropdown {
   min-width: 165px;
   max-width: 50vw;
   max-height: 300px;
   overflow-y: auto;
}

.parameter-content {
  max-height: 15em;
  overflow-y: auto;
}
