/**
 * inetsoft-core - StyleBI is a business intelligence web application.
 * Copyright © 2024 InetSoft Technology (info@inetsoft.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affrero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
.login-root {
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.card {
  margin: 16px auto;
  width: 600px;
  max-width: 90%;
}

.signup-text {
  text-align: end;
}

.loginBanner {
  border: none;
}

div.alert {
  margin: 2px auto;
  width: 600px;
  max-width: 90%;
}

div.loading-indicator {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.33);
  z-index: 9999;
  top: 0;
}

div.loading-indicator.loading {
  display: table;
}

div.loading-indicator > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.custom-logo {
  height: 50px;
  vertical-align: middle;
}

.social-login-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  margin: 16px auto;
}

.separator-div {
  display: flex;
  align-items: center;
  margin-top: calc(1rem - 16px);
  margin-bottom: 1rem;
  width: 100%;
}

.separator-line {
  display: flex;
  flex-grow: 1;
  height: 1px;
  background-color: #d6d6d6;
}

.separator-text {
  color: #434343;
  padding-left: 1rem;
  padding-right: 1rem;
}