<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<form [formGroup]="vform">
   <div class="form-floating">
      <input class="form-control" type="text" [class.variable-input]="varShowDate"
         [placeholder]="'_#(Variable Name)'"
         [ngClass]="{'input-transparent border-0': varShowDate, 'w-100': !varShowDate,
                     'text-low-Priority': !inputFocused && DATE_ITEMS.includes(variableName)}"
         [ngModel]="variableName"
         (ngModelChange)="variableNameChanged($event)"
         (focus)="inputFocused = true"
         formControlName="name"/>
      <label>_#(Variable Name)</label>
      <select *ngIf="varShowDate" class="form-control select-text"
              [ngClass]="{'text-low-Priority': inputFocused}"
              [ngModel]="variableName" (ngModelChange)="variableNameChanged($event)"
              (focus)="inputFocused = false"
              formControlName="name">
        <option *ngFor="let _variable of DATE_ITEMS" [value]="_variable">{{_variable}}</option>
      </select>
   </div>
</form>