<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<em-editor-panel
  *ngIf="sheetModel"
  contentClass="tabbed-editor-panel-content"
  [applyDisabled]="mvActive || disabled"
  (applyClicked)="editSheet()"
  (resetClicked)="reset(); mvPage?.clearAnalysis()"
  (unsavedChanges)="unsavedChanges.emit($event)"
>
  <mat-tab-group color="accent" [selectedIndex]="selectedTab" (selectedTabChange)="onSelectedTabChanged($event)">
    <mat-tab label="_#(Worksheet)">
      <ng-template matTabContent>
        <em-repository-sheet-settings-view [model]="sheetModel" (sheetSettingsChanged)="changeViewsheetSettings($event)">
        </em-repository-sheet-settings-view>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="sheetModel.permissionTableModel" label="_#(Security)">
      <ng-template matTabContent>
        <em-resource-permission [model]="sheetModel.permissionTableModel" (permissionChanged)="worksheetChanged = true"></em-resource-permission>
      </ng-template>
    </mat-tab>
    <mat-tab #mvTab *ngIf="hasMVPermission && sheetModel.mvEnabled" label="_#(MV)">
      <em-analyze-mv-page #mvPage [nodesToAnalyze]="[editingNode]" (mvChanged)="mvChanged.emit()"></em-analyze-mv-page>
    </mat-tab>
  </mat-tab-group>
  <ng-container em-editor-panel-actions>
    <ng-container *ngIf="mvActive">
      <ng-container *ngIf="!mvPage?.analyzed" >
        <button mat-button (click)="mvPage?.analyzeMV()">_#(Analyze)</button>
        <button mat-button [disabled]="!mvPage?.selection.length" (click)="mvPage?.deleteSelected()">_#(Delete)</button>
      </ng-container>
      <ng-container *ngIf="mvPage.analyzed">
        <button mat-button (click)="mvPage.create()">_#(Create/Update)</button>
        <button mat-button (click)="mvPage.showPlan()" [disabled]="mvPage.showPlanDisabled">_#(Show Plan)</button>
      </ng-container>
    </ng-container>
  </ng-container>
</em-editor-panel>
