/**
 * inetsoft-web - StyleBI is a business intelligence web application.
 * Copyright © 2024 InetSoft Technology (info@inetsoft.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
.row-resize-handle {
  background-color: gray;
  left: 0;
  height: 1px;
  width: 100%;
  z-index: 99;
  position: fixed;
  visibility: hidden;
}

.col-resize-handle {
  background-color: gray;
  top: 0;
  width: 1px;
  height: 100%;
  z-index: 99;
  position: fixed;
  visibility: hidden;
}

.table-cell {
  border: 1px solid #999;
}

.table-cell-div {
  position: relative;
}

.vs-calc-table-layout {
  overflow: auto;
}

.table-border {
  border: 1px solid #999;
}