<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="input-group">
  <input type="text" class="form-control folder-input"
         [ngModel]="path" readonly="true" [disabled]="!enabled"/>
  <span class="input-group-btn">
    <button type="button" title="_#(Browse)" class="btn btn-default"
            (click)="showFileBrowser()" [disabled]="!enabled">
      <i class="folder-expanded-icon"></i></button>
  </span>
</div>
<div class="alert-error" *ngIf="required && value == null">
  <div *ngIf="foldersOnly" class="alert alert-danger">_#(viewer.needSelectFolder)</div>
  <div *ngIf="!foldersOnly" class="alert alert-danger">_#(tabular.needSelectFolderOrFile)</div>
</div>
<ng-template #tabularFileBrowser let-close="close" let-dismiss="dismiss">
  <tabular-file-browser (onCommit)="close($event)" (onCancel)="dismiss($event)"
                        [path]="path" [property]="property" [pattern]="pattern"
                        [browseFunction]="browseFunction"></tabular-file-browser>
</ng-template>
