<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<em-modal-header [cshid]="'EMExportAssets'" [title]="'_#(Export Assets)'">
</em-modal-header>
<div mat-dialog-content [class.loading]="loading" [formGroup]="form">
  <div class="property-card">
    <div>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>_#(JAR File Name)</mat-label>
        <input matInput formControlName="fileName" placeholder="_#(JAR File Name)"/>
        <mat-error *ngIf="form.controls.fileName?.errors?.required">_#(designer.common.nameFieldCannotBeEmpty)</mat-error>
        <mat-error *ngIf="form.controls.fileName?.errors?.containsInvalidWindowsChars">_#(em.common.fileName.invalid)</mat-error>
      </mat-form-field>
      <mat-checkbox formControlName="overwrite">_#(import.overwrite.files)</mat-checkbox>
    </div>
  </div>
  <div class="asset-card-container">
    <div class="asset-card">
      <h3 class="mat-h3">_#(Selected Entities)</h3>
      <em-selected-asset-list [assets]="entities" [(selectedAssets)]="selectedEntities"></em-selected-asset-list>
      <div class="flex-row">
        <button mat-button (click)="selectAssets()" [disabled]="loading" class="margin-right">_#(Add)</button>
        <button mat-button (click)="removeAssets()" [disabled]="!selectedEntities.length || loading">_#(Remove)</button>
      </div>
    </div>
    <div class="asset-card">
      <h3 class="mat-h3">_#(Included Dependent Assets)</h3>
      <em-required-asset-list [assets]="dependencies" [(selectedAssets)]="selectedDependencies"></em-required-asset-list>
    </div>
  </div>
  <div class="progress-bar-container">
    <h3>_#(Loading)...</h3>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>
<div class="mat-dialog-actions">
  <button mat-raised-button color="primary" [disabled]="form.invalid || loading || !entities.length" (click)="finish()">_#(Export)</button>
  <button mat-button (click)="cancel()">_#(Cancel)</button>
</div>