<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<modal-header [title]="'_#(Calendar Properties)'" (onCancel)="close()"
   [cshid]="'CalendarProperties'">
</modal-header>
<div class="modal-body" [enterSubmit]="formValid" (onEnter)="ok()" *ngIf="model">
  <ul ngbNav #nav="ngbNav" class="nav-tabs" [activeId]="defaultTab" (navChange)="defaultTab = $event.nextId">
    <ng-container [ngbNavItem]="generalTab">
      <a ngbNavLink>_#(General)</a>
      <ng-template ngbNavContent>
        <calendar-general-pane [model]="model.calendarGeneralPaneModel" [vsId]="runtimeId"
                               [variableValues]="variableValues"
                               [form]="form.controls['calendarGeneralPaneForm']"
                               [columnTreeRoot]="scriptTreeModel?.columnTree"
                               [functionTreeRoot]="scriptTreeModel?.functionTree"
                               [operatorTreeRoot]="scriptTreeModel?.operatorTree"
                               [scriptDefinitions]="scriptTreeModel?.scriptDefinitions">
        </calendar-general-pane>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem="dataTab">
      <a ngbNavLink>_#(Data)</a>
      <ng-template ngbNavContent>
        <calendar-data-pane [model]="model.calendarDataPaneModel"></calendar-data-pane>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem="advancedTab">
      <a ngbNavLink>_#(Advanced)</a>
      <ng-template ngbNavContent>
        <calendar-advanced-pane [model]="model.calendarAdvancedPaneModel"
                                [form]="form.controls['calendarAdvancedPaneForm']"
                                [columnTreeRoot]="scriptTreeModel?.columnTree"
                                [functionTreeRoot]="scriptTreeModel?.functionTree"
                                [operatorTreeRoot]="scriptTreeModel?.operatorTree"
                                [scriptDefinitions]="scriptTreeModel?.scriptDefinitions"
                                [variableValues]="variableValues"
                                (viewMode)="changeViewMode($event)"
                                (showType)="changeShowType($event)"
        ></calendar-advanced-pane>
      </ng-template>
    </ng-container>
    <ng-container [ngbNavItem]="scriptTab">
      <a ngbNavLink>_#(Script)</a>
      <ng-template ngbNavContent><vsassembly-script-pane [model]="model.vsAssemblyScriptPaneModel" [scriptTreeModel]="scriptTreeModel"></vsassembly-script-pane></ng-template>
    </ng-container>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
<div class="modal-footer">
  <apply-button (onApply)="apply($event)" [disabled]="!form.valid"></apply-button>
  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">_#(Cancel)</button>
  <button type="button" class="btn btn-primary" (click)="ok()" [disabled]="!form.valid" #okButton>_#(OK)</button>
</div>
