<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<form ngNoForm (submit)="$event.preventDefault()" class="container-fluid">
  <fieldset>
    <div class="form-row-float-label row">
      <div class="col bordered-box  bd-gray bordered-box-md">
        <tree [root]="model.targetTree" [showRoot]="false" [showTooltip]="true"
              (nodesSelected)="selectColumn($event[0])" [iconFunction] = "getCSSIcon"
              [showTooltip]="true"></tree>
      </div>
    </div>
  </fieldset>
  <label>_#(viewer.viewsheet.timeSlider.comment)</label>
  <additional-table-selection-pane
    [tree]="model.targetTree"
    [selectedTable]="model.selectedTable"
    [additionalTables]="model.additionalTables"
    [selectedColumns]="getSelectedColumns()"
    (onAdditionalTablesChanged)="additionalTablesChanged($event)">
  </additional-table-selection-pane>
</form>
