/**
 * inetsoft-web - StyleBI is a business intelligence web application.
 * Copyright © 2024 InetSoft Technology (info@inetsoft.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affrero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
//noinspection CssOptimizeSimilarProperties

.popup-table {
  display: inline-block;

  .btn {
    i {
      vertical-align: middle;
    }
  }
}

.popup-table-cell {
  max-width: 100px;
  min-width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px 4px;
  transition: 0.4s;
}

.popup-table-dropdown-menu {
  overflow: auto;
  max-width: 550px;
  min-width: 300px;
}

.popup-table-page-input {
  height: 24px;
  width: 48px;
}
