<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<output-general-pane [model]="model.outputGeneralPaneModel" [variableValues]="variableValues"
                     [(form)]="form.controls['outputGeneralPaneForm']" [vsId]="vsId"
                     [columnTreeRoot]="columnTreeRoot" [functionTreeRoot]="functionTreeRoot"
                     [operatorTreeRoot]="operatorTreeRoot" [scriptDefinitions]="scriptDefinitions">
</output-general-pane>
<number-range-pane [model]="model.numberRangePaneModel" [variableValues]="variableValues" [(form)]="form.controls['numberRangePaneForm']" [vsId]="vsId"></number-range-pane>
<face-pane [model]="model.facePaneModel" [linkUri]="linkUri"></face-pane>
<tip-pane [model]="model.tipPaneModel" [tooltipOnly]="true"></tip-pane>
<padding-pane [model]="model.paddingPaneModel"></padding-pane>
<size-position-pane [model]="model.sizePositionPaneModel" [(form)]="form.controls['sizePositionPaneForm']"></size-position-pane>
