<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<form ngNoForm (submit)="$event.preventDefault()" class="container-fluid">
  <fieldset>
    <legend>_#(Scale)</legend>
    <div class="input-group row">
      <div class="checkbox col-auto">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" [(ngModel)]="model.scaleImageChecked"
               [disabled]="model.tile" id="scaleImage">
          <label class="form-check-label" for="scaleImage">
            _#(Scale Image)
          </label>
        </div>
      </div>
    </div>
    <div class="input-group row">
      <div class="col">
        <fieldset class="form-indent" [disabled]="!model.scaleImageChecked">
          <div class="form-row-checkbox">
            <div class="form-check">
              <input type="radio" class="form-check-input" name="scale-choice" [value]="true"
                   [(ngModel)]="model.maintainAspectRatio" id="maintain">
              <label class="form-check-label" for="maintain">
                _#(Maintain Aspect Ratio)
              </label>
            </div>
          </div>
          <div>
            <div class="form-check">
              <input type="radio" class="form-check-input" name="scale-choice" [value]="false"
                   [(ngModel)]="model.maintainAspectRatio" [disabled]="isSvg" id="cell9">
              <label class="form-check-label" for="cell9">
                _#(Scale Cell Grid)
              </label>
            </div>
          </div>
          <fieldset class="m-3" [disabled]="model.maintainAspectRatio">
            <div class="form-row-float-label form-row">
              <div class="col form-floating">
                <div class="input-group">
                  <input type="number" class="form-control" id="top" [(ngModel)]="model.top"
                         [disabled]="animateGif" placeholder="_#(Top)" (change)="reloadImg()">
                  <div class="input-group-text">_#(px)</div>
                </div>
                <label><span>_#(Top)</span></label>
              </div>
              <div class="col form-floating">
                <div class="input-group px-input-group">
                  <input type="number" class="form-control" id="left" [(ngModel)]="model.left"
                         [disabled]="animateGif" placeholder="_#(Left)" (change)="reloadImg()">
                  <div class="input-group-text">_#(px)</div>
                </div>
                <label><span>_#(Left)</span></label>
              </div>
              <div class="col form-floating">
                <div class="input-group px-input-group">
                  <input type="number" class="form-control" id="bottom" [(ngModel)]="model.bottom"
                         [disabled]="animateGif" placeholder="_#(Bottom)" (change)="reloadImg()">
                  <div class="input-group-text">_#(px)</div>
                </div>
                <label><span>_#(Bottom)</span></label>
              </div>
              <div class="col form-floating">
                <div class="input-group px-input-group">
                  <input type="number" class="form-control" id="right" [(ngModel)]="model.right"
                         [disabled]="animateGif" placeholder="_#(Right)" (change)="reloadImg()">
                  <div class="input-group-text">_#(px)</div>
                </div>
                <label><span>_#(Right)</span></label>
              </div>
            </div>
          </fieldset>
        </fieldset>
      </div>
    </div>
    <div class="input-group row form-row-checkbox">
      <div class="col-auto">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" [(ngModel)]="model.tile"
               [disabled]="model.scaleImageChecked" id="tile">
          <label class="form-check-label" for="tile">
            _#(Tile)
          </label>
        </div>
      </div>
    </div>
    <div class="input-group row form-row-checkbox">
      <div class="col-auto">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" [(ngModel)]="preview"
                 [disabled]="!previewEnabled" id="preview">
          <label class="form-check-label" for="preview">
            _#(Preview)
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="model && preview">
      <div class="bordered-box bd-gray">
        <img *ngIf="!model.scaleImageChecked" [src]="imageSrc"/>
        <div *ngIf="model.scaleImageChecked && model.maintainAspectRatio"
             [style.height.px]="model.objectHeight" [style.width.px]="model.objectWidth">
          <img [src]="imageSrc" [style.height.px]="getMaintainedRatioSize(true)"
               [style.width.px]="getMaintainedRatioSize(false)">
        </div>
        <div *ngIf="model.scaleImageChecked && !model.maintainAspectRatio" class="scale-image-view"
             [ngStyle]="scaleImgStyle">
          <div class="w-100 h-100" [style.padding]="scaleImgPadding">
            <div class="w-100 h-100"></div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
