<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<form ngNoForm (submit)="$event.preventDefault()" class="container-fluid">
  <fieldset>
    <div class="form-row-float-label row">
      <div class="col-9">
        <div class="bordered-box bd-gray">
          <tree #idTree [root]="targetIdTree" [showRoot]="false"
                 [showTooltip]="true"
                (nodesSelected)="selectIdTable($event[0])" [iconFunction] = "iconFunction"></tree>
        </div>
      </div>
    </div>
    <div class="form-row-checkbox row">
      <div class="col">
        <div class="form-check">
          <input id="textBox" type="checkbox" class="form-check-input"
                 [disabled]="singleSelection"
                 [(ngModel)]="model.selectChildren"/>
          <label class="form-check-label" for="textBox">
            _#(Auto Select Children)
          </label>
        </div>
      </div>
    </div>
    <div class="form-row-float-label row local-parent-id">
      <div class="col-9">
        <div class="form-floating">
          <dynamic-combo-box [(value)]="localParentId" [vsId]="runtimeId"
                             [grayedOutValues]="grayedOutRefLabels"
                             (valueChange)="selectParentId($event)"
                             (typeChange)="selectParentIdType($event)"
                             [(values)]="localRefLabels"
                             [(variables)]="variableValues">
                             </dynamic-combo-box>
          <label>_#(Parent ID)</label>
        </div>
      </div>
    </div>
    <div class="form-row-float-label row local-id">
      <div class="col-9">
        <div class="form-floating">
          <dynamic-combo-box [(value)]="localId" [vsId]="runtimeId"
                             [grayedOutValues]="grayedOutRefLabels"
                             (valueChange)="selectId($event)"
                             (typeChange)="selectIdType($event)"
                             [(values)]="localRefLabels"
                             [(variables)]="variableValues">
                             </dynamic-combo-box>
          <label>_#(ID)</label>
        </div>
      </div>
    </div>
    <div class="form-row-float-label row local-label">
      <div class="col-9">
        <div class="form-floating">
          <dynamic-combo-box [(value)]="localLabel" [vsId]="runtimeId"
                             [grayedOutValues]="grayedOutRefLabels"
                             (valueChange)="selectLabel($event)"
                             (typeChange)="selectLabelType($event)"
                             [(values)]="localRefLabels"
                             [(variables)]="variableValues">
          </dynamic-combo-box>
          <label>_#(Label)</label>
        </div>
      </div>
    </div>
  </fieldset>
</form>
