<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<output-general-pane [(form)]="form.controls['outputForm']" [model]="model.outputGeneralPaneModel"
                     [variableValues]="strippedDrillmemberVariableValues" [layoutObject]="layoutObject"
                     [vsId]="vsId"
                     [columnTreeRoot]="columnTreeRoot" [functionTreeRoot]="functionTreeRoot"
                     [operatorTreeRoot]="operatorTreeRoot" [scriptDefinitions]="scriptDefinitions">
</output-general-pane>
<text-pane [model]="model.textPaneModel" [variableValues]="variableValues" [layoutObject]="layoutObject" [vsId]="vsId"></text-pane>
<tip-pane [model]="model.tipPaneModel" [tooltipOnly]="true" [hideTip]="layoutObject"></tip-pane>
<form ngNoForm (submit)="$event.preventDefault()" class="container-fluid">
  <fieldset>
    <legend>_#(Popup)</legend>
    <div class="form-row-float-label row">
      <div class="col">
        <div class="form-floating">
          <select class="form-control" [(ngModel)]="model.popComponent"
                  [disabled]="layoutObject || model.textPaneModel.url"
                  placeholder="_#(Pop Component)">
            <option value="">_#(None)</option>
            <option *ngFor="let component of model.popComponents" [title]="component" [value]="component">
              {{component | truncate}}
            </option>
          </select>
          <label><span>_#(Pop Component)</span></label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <alpha-dropdown [disabled]="!model.popComponent || layoutObject || model.textPaneModel.url"
                          [(alpha)]="model.alpha" (alphaInvalid)="changeAlphaWarning($event)">
          </alpha-dropdown>
          <label>_#(Alpha)</label>
        </div>
      </div>
    </div>
    <div class="form-row-float-label row">
      <div class="col">
        <div class="form-floating">
        <select class="form-control" [(ngModel)]="model.popLocation"
                [disabled]="layoutObject || model.textPaneModel.url"
                placeholder="_#(Pop Location)">
          <option *ngFor="let component of getKeys()" [title]="popService.getPopLocationLabel(component)" [value]="component">
            {{popService.getPopLocationLabel(component) | truncate}}
          </option>
        </select>
        <label><span>_#(Pop Location)</span></label>
          </div>
      </div>
    </div>
  </fieldset>
  <div *ngIf=alphaInvalid class="alert alert-danger">
    _#(viewer.flash.format.invalidTransparencyError)
  </div>
</form>
<padding-pane [model]="model.paddingPaneModel"></padding-pane>
<size-position-pane [model]="model.sizePositionPaneModel"
                    [showScaleVertical]="true"
                    [(form)]="form.controls['sizePositionPaneForm']"
                    [layoutObject]="layoutObject">
</size-position-pane>
<notifications *ngIf="objectAddRemoved" class="warning-message" [timeout]="0"
               message="_#(viewer.dialog.viewsheetModified)"></notifications>
