<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<em-modal-header [cshid]="'EMSettingsScheduleSettings'" [title]="data.title">
</em-modal-header>
<mat-dialog-content>
  <mat-card class="mat-elevation-z0">
    <form [formGroup]="form">
      <mat-form-field appearance="outline" color="accent" class="full-width">
      <textarea formControlName="classpath" matInput class="classpath-text">
      </textarea>
      </mat-form-field>
    </form>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="ok()" color="primary">_#(OK)</button>
  <button mat-button mat-dialog-close>_#(Cancel)</button>
</mat-dialog-actions>