<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="components-pane">
  <component-tree *ngIf="!layoutMode && !!objectTree"
    [children]="objectTree.children" [sheet]="sheet" (onCut)="cutAssembly($event)"
    (onCopy)="copyAssembly($event)" (onRemove)="removeAssembly($event)"
    (onBringToFront)="bringAssemblyToFront($event)"
    (onSendToBack)="sendAssemblyToBack($event)">
  </component-tree>
  <ng-template [ngIf]="layoutMode && !!objectTree">
    <tree *ngIf="componentRoot" [draggable]="true" [root]="componentRoot" [showRoot]="true"
          [initExpanded]="true" [multiSelect]="true" [showTooltip]="true"
          (nodeDrag)="dragNode($event)"
          (nodesSelected)="nodesSelected($event)">
    </tree>
    <tree *ngIf="toolBox && showToolBox" [draggable]="true" [root]="toolBox"
          (nodeDrag)="dragNode($event)"
          [showRoot]="true" [initExpanded]="true"></tree>
    <tree *ngIf="contentToolBox && showContentToolBox" [draggable]="true" [root]="contentToolBox"
          (nodeDrag)="dragNode($event)"
          [showRoot]="true" [initExpanded]="true"></tree>
  </ng-template>
</div>
