<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<em-audit-table-view [dateRangeVisible]="false" [displayedColumns]="getDisplayedColumns()" [columnRenderers]="columnRenderers" [parameterForm]="form"
                     [fetchParameters]="fetchParameters" [fetchData]="fetchData" [isIdentityInfo]="true" [orgNames]="orgNames">
  <section class="flex-row" [formGroup]="form">
    <mat-form-field *ngIf="organizationFilter" appearance="outline" color="primary" class="flex">
      <mat-label>_#(Identity Organizations)</mat-label>
      <mat-select formControlName="selectedOrganizations" multiple>
        <mat-option *ngFor="let org of organizations" [value]="org">{{org}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary" class="flex margin-left">
      <mat-label>_#(Resource Types)</mat-label>
      <mat-select formControlName="selectedTypes" multiple>
        <mat-option *ngFor="let type of objectTypes" [value]="type">{{getAssetTypeLabel(type)}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary" class="flex margin-left">
      <mat-label>_#(Hosts)</mat-label>
      <mat-select formControlName="selectedHosts" multiple>
        <mat-option *ngFor="let host of hosts" [value]="host">{{host}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary" class="flex margin-left">
      <mat-label>_#(inactive.least.days)</mat-label>
      <input matInput type="number" [min]="minStartDuration" [max]="maxStartDuration" formControlName="minDuration"/>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary" class="flex margin-left">
      <mat-label>_#(inactive.most.days)</mat-label>
      <input matInput type="number" [min]="minEndDuration" [max]="maxEndDuration" formControlName="maxDuration"/>
    </mat-form-field>
  </section>
</em-audit-table-view>
