<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div *ngIf="model" class="vs-upload"
     [id]="model.absoluteName"
     VSDataTip [dataTipName]="getAssemblyName()"
     VSPopComponent [popComponentName]="getAssemblyName()" [popContainerName]="model.container" [isUpload]="true"
     [popZIndex]="model.objectFormat.zIndex"
     [style.display]="getVisible()? (mobileDevice ? 'none' : null) : 'none'"
     [class.fade-assembly]="!viewer && !model.visible"
     [class.disable-actions-fade]="!model.enabled"
     [style.text-align]="model.objectFormat.hAlign"
     [style.vertical-align]="model.objectFormat.vAlign"
     [style.background]="model.objectFormat.background"
     [style.border-bottom]="model.objectFormat.border.bottom"
     [style.border-top]="model.objectFormat.border.top"
     [style.border-left]="model.objectFormat.border.left"
     [style.border-right]="model.objectFormat.border.right"
     [style.border-radius.px]="model.objectFormat.roundCorner"
     [style.white-space]="model.objectFormat.wrapping.whiteSpace"
     [style.word-wrap]="model.objectFormat.wrapping.wordWrap"
     [style.overflow]="model.objectFormat.wrapping.overflow"
     [style.top.px]="viewer || embeddedVS ? model.objectFormat.top : null"
     [style.left.px]="viewer || embeddedVS ? model.objectFormat.left : null"
     [style.position]="viewer || embeddedVS ? 'absolute' : 'relative'"
     [style.width.px]="model.objectFormat.width"
     [style.height.px]="model.objectFormat.height"
     [style.z-index]="viewer ? model.objectFormat.zIndex : null">
  <div class="upload-container"
       [style.width.px]="model.objectFormat.width"
       [style.height.px]="model.objectFormat.height">
    <input readonly class="upload-text" [ngModel]="model.fileName" [disabled]="!model.enabled"
           [style.border-radius.px]="model.objectFormat.roundCorner"
           [style.color]="model.objectFormat.foreground"
           [attr.aria-label]="model.absoluteName + ' _#(File Name)'" aria-readonly="true"
           role="note">
    <div class="btn upload-button"
            [title]="model.label">
      <button class="upload-label" aria-haspopup="true"
              [attr.aria-label]="model.absoluteName + ' _#(File) _#(Input)'"
              [safeFont]="model.objectFormat.font"
              [style.color]="model.objectFormat.foreground"
              [style.text-decoration]="model.objectFormat.decoration"
              [style.border-radius.px]="model.objectFormat.roundCorner"
              [style.background-color]="model.objectFormat.background"
              (keyup.enter)="fileButton.click()">
        {{model.label}}
      </button>
      <input #fileButton [attr.aria-label]="model.absoluteName + ' _#(File) _#(Input)'"
             type="file" class="upload-input" (change)="onChange($event)"
             [disabled]="(!model.enabled || !viewer)">
    </div>
  </div>
  <ngb-progressbar *ngIf="viewer && fileUploadProgress" type="success" [animated]="true"
                   [value]="fileUploadProgress" [striped]="true"></ngb-progressbar>
</div>
