<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div *ngIf="frame" class="popup-editor__container">
  <div class="popup-editor__button-group">
    <button class="popup-editor__button btn" title="_#(Reset to Default)"
            (click)="resetEditors()">
      <i class="reset-icon icon-size-small"></i>
    </button>
    <button class="popup-editor__button btn" title="_#(Close)"
            (click)="apply.emit(false)">
      <i class="close-icon icon-size-small" aria-hidden="true"></i>
    </button>
  </div>
  <div class="row form-row-float-label">
    <div class="col-2 color-label">
      <div class="form-check">
        <input type="radio" class="form-check-input" name="lgroup" value="{{gmodel.clazz}}"
               id="custom"
               [ngModel]="frame.clazz" (click)="switchColorModel(gmodel.clazz)"/>
        <label class="form-check-label" for="custom">
          _#(Custom)
        </label>
      </div>
    </div>
    <div class="col-4 color-strip-both">
      <gradient-color-editor [frame]="gmodel" (colorChanged)="syncColors()"
                             (click)="switchColorModel(gmodel.clazz)"
                             [isDisabled]="frame.clazz !== gmodel.clazz">
      </gradient-color-editor>
    </div>
  </div>
  <div class="row form-row-float-label">
    <div class="col-2 color-label">
      <div class="form-check">
        <input type="radio" class="form-check-input" name="lgroup"
               value="{{singleHueModel.clazz}}" id="singlehue"
               (click)="switchColorModel(singleHueModel.clazz)" [ngModel]="frame.clazz"/>
        <label class="form-check-label" for="singlehue">
          _#(Single Hue)
        </label>
      </div>
    </div>
    <div class="col-4">
      <linear-color-dropdown [colorFrames]="singleHueModels"
                             [colorFrame]="getSingleHueModel()"
                             (colorFrameChange)="switchColorModel($event)">
      </linear-color-dropdown>
    </div>
    <div class="col-2 color-label">
      <div class="form-check">
        <input type="radio" class="form-check-input" name="lgroup"
               value="{{multiHueModel.clazz}}" id="multihue"
               (click)="switchColorModel(multiHueModel.clazz)" [ngModel]="frame.clazz"/>
        <label class="form-check-label" for="multihue">
          _#(Multi-Hue)
        </label>
      </div>
    </div>
    <div class="col-4">
      <linear-color-dropdown [colorFrames]="multiHueModels"
                             [colorFrame]="getMultiHueModel()"
                             (colorFrameChange)="switchColorModel($event)">
      </linear-color-dropdown>
    </div>
  </div>
  <div class="row form-row-float-label">
    <div class="col-2 color-label">
      <div class="form-check">
        <input type="radio" class="form-check-input" name="lgroup"
               value="{{divergingModel.clazz}}" id="diverging"
               (click)="switchColorModel(divergingModel.clazz)" [ngModel]="frame.clazz"/>
        <label class="form-check-label" for="diverging">
          _#(Diverging)
        </label>
      </div>
    </div>
    <div class="col-4">
      <linear-color-dropdown [colorFrames]="divergingModels"
                             [colorFrame]="getDivergingHueModel()"
                             (colorFrameChange)="switchColorModel($event)">
      </linear-color-dropdown>
    </div>
    <div class="col-2 color-label">
      <div class="form-check">
        <input type="radio" class="form-check-input" name="lgroup" value="{{heatModel.clazz}}"
               id="heat"
               (click)="switchColorModel(heatModel.clazz)" [ngModel]="frame.clazz"/>
        <label class="form-check-label" for="heat">
          _#(Heat)
        </label>
      </div>
    </div>
    <div class="col-4">
      <div class="color-strip" (click)="switchColorModel(heatModel.clazz)">
        <img src="assets/heat.png"/>
      </div>
    </div>
  </div>
</div>
