<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="btn-group" keyboardNav="true">
  <button id="simple-btn-keyboard-nav" type="button" [disabled]="disabled"
          [fixedDropdown]="dropdownMenu" dropdownPlacement="bottom"
          [title]="getTooltip(colorFrame)"
          class="btn form-control dropdown-toggle w-100 pt-1 pb-1 pe-2" >
    <img class="color-thumbnail" [src]="imageSrc">
    <span class="caret"></span>
  </button>
</div>
<ng-template #dropdownMenu>
  <div class="dropdown-pane thumbnail-pane">
    <div class="thumbnail-item" [class.selected]="frame == colorFrame"
      *ngFor="let frame of colorFrames" [title]="getTooltip(frame)">
      <img class="color-thumbnail" [src]="getSrc(frame)" (click)="colorFrameChange.emit(frame)">
    </div>
  </div>
</ng-template>
