/**
 * inetsoft-web - StyleBI is a business intelligence web application.
 * Copyright © 2024 InetSoft Technology (info@inetsoft.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affrero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
@import '../../../../../../../../node_modules/@angular/material/theming';
@import '../../../../../styles/constants';

@mixin multi-file-chooser-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-mdc-card-header {
    color: mat-color($foreground, secondary-text);
  }
}

@mixin multi-file-chooser-typography($config) {
  $font-family: mat-font-family($config);

  .mat-mdc-card-header {
    font-family: mat-font-family($config, body-2);
    font-size: mat-font-size($config, body-2);
    font-weight: mat-font-weight($config, body-2);
  }
}