/**
 * inetsoft-web - StyleBI is a business intelligence web application.
 * Copyright © 2024 InetSoft Technology (info@inetsoft.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affrero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
.physical-graph-table-title {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   padding: 5px 2px;
   cursor: pointer;
}

edit-join-table-column {
   display: block;
   width: 100%;
   transition: background-color 0.4s, color 0.4s, opacity 0.4s;

   &:last-child {
      border-bottom: none;
   }

   &.schema-column-ignore {
      opacity: 0.5;
   }
}