<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="p-1">
  <div class="alias-pane-table-container">
    <table class="table table-layout-fixed table-bordered table-sm">
      <thead>
        <tr class="active">
          <th>_#(Label)</th>
          <th>_#(Alias)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let _val of model.aliasList; let _i = index" (click)="selectedIndex = _i"
            [class.selected]="_i === selectedIndex">
          <td>
            <input class="form-control alias-pane-input" type="text" [(ngModel)]="_val.label"
                   readonly/>
          </td>
          <td>
            <input class="form-control alias-pane-input" type="text" [(ngModel)]="_val.alias"/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>