<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="table-wrapper">
   <div class="table-container">
      <table>
         <tr>
            <table-style-border-region [regionName]="'Top Border'" [hoverRegion]="hoverRegion"
                                       [selectedRegion]="selectedRegion"
                                       (onRegionHover)="highlightRegion($event)"
                                       (onUnHoverRegion)="unHighlightRegion()"
                                       (onRegionSelect)="selectRegion($event)">
            </table-style-border-region>
         </tr>
         <tr style="display: flex;">
            <table-style-border-region [regionName]="'Left Border'" [hoverRegion]="hoverRegion"
                                       [selectedRegion]="selectedRegion"
                                       (onRegionHover)="highlightRegion($event)"
                                       (onUnHoverRegion)="unHighlightRegion()"
                                       (onRegionSelect)="selectRegion($event)">
            </table-style-border-region>
            <table class="style-table">
               <tr *ngFor="let row of cssTableStyle.tableStyleRows; let r = index;">
                  <td *ngFor="let cell of row.styleCells; let c = index;"
                      [ngClass]="{'hover': isHoverRegion(cell.region), 'selected' : isSelectRegion(cell.region)}"
                      (click)="selectRegion(cell.region)"
                      (mouseenter)="highlightRegion(cell.region)"
                      (mouseleave)="unHighlightRegion()"
                      [style.background-color]="cell.styleFormat?.background"
                      [style.color]="cell.styleFormat?.foreground"
                      [safeFont]="cell.styleFormat?.font"
                      [style.border-bottom]="cell.styleFormat?.bottomBorder"
                      [style.border-right]="cell.styleFormat?.rightBorder"
                      [style.border-top]="cell.styleFormat?.topBorder"
                      [style.border-left]="cell.styleFormat?.leftBorder"
                      [style.text-align]="cell.styleFormat?.hAlign"
                      [style.vertical-align]="cell.styleFormat?.vAlign"
                      [style.text-decoration]="cell.styleFormat?.fontUnderline + ' ' +
                         cell.styleFormat?.fontStrikethrough">
                     <div class="style-cell">
                        {{cell.text}}
                     </div>
                  </td>
               </tr>
            </table>
            <table-style-border-region [regionName]="'Right Border'" [hoverRegion]="hoverRegion"
                                       [selectedRegion]="selectedRegion"
                                       (onRegionHover)="highlightRegion($event)"
                                       (onUnHoverRegion)="unHighlightRegion()"
                                       (onRegionSelect)="selectRegion($event)">
            </table-style-border-region>
         </tr>
         <tr>
            <table-style-border-region [regionName]="'Bottom Border'" [hoverRegion]="hoverRegion"
                                       [selectedRegion]="selectedRegion"
                                       (onRegionHover)="highlightRegion($event)"
                                       (onUnHoverRegion)="unHighlightRegion()"
                                       (onRegionSelect)="selectRegion($event)">
            </table-style-border-region>
         </tr>
      </table>
   </div>
</div>