<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div>
  <mat-form-field [class.mobile]="mobile">
    <mat-label>{{placeholder}}</mat-label>
    <input type="text" [title]="emails" matInput [formControl]="emailsControl" (blur)="onTouched()"/>
    <button *ngIf="isEmailBrowserEnabled" matSuffix mat-icon-button aria-label="_#(Select Emails)"
            title="_#(Select Emails)" [disabled]="!editable" (click)="openEmailDialog()">
      <mat-icon fontSet="ineticons" fontIcon="edit-icon"></mat-icon>
    </button>
    <button matSuffix mat-icon-button aria-label="_#(Clear Emails)" title="_#(Clear Emails)" [disabled]="!editable || !emailsControl.value" (click)="clearEmails()">
      <mat-icon fontSet="ineticons" fontIcon="trash-icon"></mat-icon>
    </button>
    <mat-error *ngIf="emailRequiredError">_#(em.schedule.action.emailRequired)</mat-error>
    <mat-error *ngIf="emailInvalid">_#(em.schedule.action.invalidEmail)</mat-error>
    <mat-error *ngIf="duplicateEmail">_#(em.schedule.action.duplicateEmail)</mat-error>
  </mat-form-field>
  <button mat-button aria-label="_#(Test Mail)"
          [disabled]="emailsControl?.invalid || !editable || !emails || isVariableEmail()"
          (click)="testMail()">
    _#(Test Mail)
  </button>
</div>