/**
 * inetsoft-web - StyleBI is a business intelligence web application.
 * Copyright © 2024 InetSoft Technology (info@inetsoft.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affrero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
.graph-pane-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.graph-toolbar {
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  line-height: 40px;
  width: 100%;
}

.graph-content-container {
  position: absolute;
  overflow: auto;
}

.network-graph-container {
  position: relative;
}

.join-edit-button-container {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;

  button {
    min-width: 120px;
    margin-left: 10px;
  }
}
