<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="popup-editor__container">
  <div class="popup-editor__button-group">
    <button class="popup-editor__button btn" title="_#(Apply)"
            (click)="submit()">
      <i class="submit-icon icon-size-small" aria-hidden="true"></i>
    </button>
  </div>
  <div class="row form-row-float-label">
    <div class="col form-floating">
      <select class="form-control" [(ngModel)]="baseFormula" placeholder="_#(Aggregate)">
        <option [value]="fl.formulaName" *ngFor="let fl of formulas">{{fl.label}}</option>
      </select>
      <label><span>_#(Aggregate)</span></label>
    </div>
  </div>
  <div class="row form-row-float-label" *ngIf="!hasN">
    <div class="col form-floating">
      <select class="form-control" [(ngModel)]="secondCol"
              [disabled]="!isTwoColumns()" placeholder="_#(With)">
        <option [value]="col.name" [attr.title]="col.description"
                [class.grayed-out-field]="isGrayedOut(col.name)"
                *ngFor="let col of availableFields">{{col.name}}</option>
      </select>
      <label><span>_#(With)</span></label>
    </div>
  </div>
  <div class="row form-row-float-label" *ngIf="hasN">
    <div class="col-auto form-floating">
      <input type="text" id="num" class="form-control" [(ngModel)]="nStr">
      <label><span>{{getNPLabel()}}</span></label>
    </div>
  </div>
  <div class="row form-row-float-label">
    <div class="col form-floating">
      <select class="form-control" [(ngModel)]="percentage" placeholder="_#(Percentage)"
              [disabled]="!isPercent()">
        <option [value]="per.value" *ngFor="let per of getPercents()">{{per.label}}</option>
      </select>
      <label><span>_#(Percentage)</span></label>
    </div>
  </div>
  <div *ngIf="(isNthFormula() || isPthFormula()) && !isNValid()"
       class="alert alert-danger">
    _#(table.formula.parameterError)
  </div>
</div>
