<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="wizard-group-aggregate-pane" *ngIf="!isAssemblyBinding && !isCube">
  <div class="group-aggregate-pane-container">
    <div *ngIf="hasItem() && showAutoOrder" class="options-pane">
      <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"
              [disabled]="autoOrder"
              (click)="setAutoOrder(true)">_#(Clear Custom Order)</button>
    </div>
    <ng-container *ngIf="!isDetail">
      <div *ngFor="let dim of dimensions; let idx = index">
        <wizard-group-item
           [dataRef]="dim" [index]="idx"
           [showName]="showDimensionName(idx)" [showMore]="showDimensionMore(idx)"
           [format]="getFormat(dim)"
           (addItem)="addGroup($event)" (deleteItem)="deleteGroup($event)"
           (moveUp)="moveUpDim(idx)" (moveDown)="moveDownDim(idx)"
           [moveUpEnabled]="idx > 0" [moveDownEnabled]="isMoveDownDimEnabled(idx)"
           (onEditDimension)="onEditDimension.emit()" (onUpdateFormat)="onUpdateFormat.emit($event)">
        </wizard-group-item>
      </div>
      <div *ngFor="let mea of measures; let idx = index">
        <wizard-aggregate-item
           [dataRef]="mea" [index]="idx"
           [showName]="showAggregateName(idx)" [showMore]="showAggregateMore(idx)"
           [forceFormula]="getForceDisplayFormula(idx)"
           [availableFields]="availableFields" [grayedOutValues]="getGrayedOutValues()"
           [format]="getMeasureFormat(idx)" [fixedFormulaMap]="fixedFormulaMap"
           (moveUp)="moveUpMeasure(idx)" (moveDown)="moveDownMeasure(idx)"
           [moveUpEnabled]="idx > 0" [moveDownEnabled]="isMoveDownMeasureEnabled(idx)"
           (addItem)="addAggregate($event)" (deleteItem)="deleteAggregate($event)"
           (onEditAggregate)="onEditAggregate.emit()"
           (onEditSecondColumn)="onEditSecondColumn.emit($event)"
           (onEditAggregateFormat)="updateAggregateFormat(idx)">
        </wizard-aggregate-item>
      </div>
    </ng-container>
    <ng-container *ngIf="isDetail">
      <div *ngFor="let col of details; let idx = index">
        <wizard-detail-item
           [dataRef]="col" [index]="idx"
           [format]="getFormat(col)"
           (moveUp)="moveUpDetail(idx)" (moveDown)="moveDownDetail(idx)"
           [moveUpEnabled]="idx > 0" [moveDownEnabled]="idx < details.length - 1"
           (deleteItem)="deleteDetail($event)"
           (onUpdateFormat)="onUpdateFormat.emit($event)">
        </wizard-detail-item>
      </div>
    </ng-container>
  </div>
</div>
