<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<modal-header [title]="'_#(Embedded Table)'" (onCancel)="cancelChanges()"
              [cshid]="'EmbeddedTable'">
</modal-header>
<div class="modal-body" [enterSubmit]="formValid" (onEnter)="saveChanges()">
  <form *ngIf="model" [formGroup]="form" class="container-fluid">
    <div class="form-row-float-label row">
      <div class="col form-floating">
        <input type="text" id="tableName" trim class="form-control" formControlName="name"
               placeholder="_#(Name)">
        <label><span>_#(Name)</span></label>
      </div>
      <div class="col-12">
        <div *ngIf="form.controls['name'].errors && form.controls['name'].errors['required']"
             class="alert alert-danger">
          _#(viewer.nameValid)
        </div>
        <div *ngIf="form.controls['name'].errors &&
         (form.controls['name'].errors['calcSpecialCharacters']
         || form.controls['name'].errors['nameSpecialCharacters'] )"
          class="alert alert-danger">
          _#(viewer.worksheet.Grouping.SpecialChar)
        </div>
        <div *ngIf="form.controls['name'].errors && form.controls['name'].errors['exists']"
             class="alert alert-danger">
          _#(viewer.worksheet.Grouping.nameAlready)
        </div>
      </div>
    </div>
    <div class="form-row-float-label row">
      <div class="col form-floating">
        <input type="number" min="0" max="10000" id="tableRows" class="form-control"
               formControlName="rows" placeholder="_#(Rows)">
        <label><span>_#(Rows)</span></label>
      </div>
      <div class="col-12">
        <div *ngIf="form.controls['rows'].errors && !form.controls['rows'].pristine"
             class="alert alert-danger">
          _#(common.worksheet.embedded.rowLimit)
        </div>
      </div>
    </div>
    <div class="form-row-float-label row">
      <div class="col form-floating">
        <input type="number" min="0" max="1000" id="tableCols" class="form-control"
               formControlName="cols" placeholder="_#(Columns)">
        <label><span>_#(Columns)</span></label>
      </div>
      <div class="col-12">
        <div *ngIf="form.controls['cols'].errors && !form.controls['cols'].pristine"
             class="alert alert-danger">
          _#(common.worksheet.embedded.colLimit)
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="!formValid()">
    _#(OK)
  </button>
  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelChanges()">
    _#(Cancel)
  </button>
</div>
