<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<modal-header [title]="'_#(New Worksheet)'"
              (onCancel)="cancel()"
              [cshid]="'NewWorksheetDialog'">
</modal-header>
<div class="modal-body" [enterSubmit]="submitOnEnter()">
  <div aria-labelledby="newWorksheetObjectButton" class="item-list">
    <button class="dropdown-item new-upload-file-button bg-white1 hover-bg-primary"
            (click)="selectObjectType(WSObjectType.UPLOAD_FILE)">
      <i class="upload-icon icon-size-medium"></i>
      <span>_#(Upload File)</span>
    </button>
    <button class="dropdown-item new-mashup-data-button bg-white1 hover-bg-primary"
            (click)="selectObjectType(WSObjectType.MASHUP)">
      <i class="new-worksheet-icon icon-size-medium"></i>
      <span>_#(Mashup Data)</span>
    </button>
    <ng-container *ngIf="sqlEnabled && !!databaseDataSources && !!databaseDataSources.length">
      <button *ngFor="let dataSource of databaseDataSources"
              class="dropdown-item new-database-query-button bg-white1 hover-bg-primary"
              (click)="selectDatabaseQuery(dataSource.name)">
        <i class="query-icon icon-size-medium"></i>
        <span>{{dataSource.label}} _#(Query)</span>
      </button>
    </ng-container>
    <ng-container *ngFor="let type of tabularDataSourceTypes">
      <button class="dropdown-item bg-white1 hover-bg-primary" *ngIf="type.exists"
              [disabled]="!type.exists"
              (click)="selectTabularQuery(type)">
        <i class="tabular-subquery-icon icon-size-medium"></i>
        <span>{{type.label}} _#(Query)</span>
      </button>
    </ng-container>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary"
          data-dismiss="modal" (click)="ok()">_#(OK)
  </button>
  <button type="button" class="btn btn-default"
          data-dismiss="modal" (click)="cancel()">_#(Cancel)
  </button>
</div>
