/**
 * inetsoft-web - StyleBI is a business intelligence web application.
 * Copyright © 2024 InetSoft Technology (info@inetsoft.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affrero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
.condition-field-combo {
   display: inline-flex;
   align-items: flex-start;
   width: 100%;

  .condition-field-combo-toggle {
    display: inline-flex;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    width: 160px;
    border-radius: 0.25rem;
    flex-grow: 1;
    align-items: center;
    &:hover {
      border: 1px solid var(--inet-default-border-color);
    }
  }
}

.condition-field-combo-dropdown {
  min-width: 165px;
  max-width: 150%;
  max-height: 300px;
  min-height: 200px;
  overflow-y: auto;
}

.condition-field-combo-text {
  display: inline-flex;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  cursor: default;
  flex-grow: 1;
}
