<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<!-- Modal Header -->
<div class="modal-header">
  <h3 class="modal-title">_#(Enter Parameters)</h3>
  <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
</div>

<!-- Modal Body -->
<div class="modal-body" [enterSubmit]="formValid" (onEnter)="saveChanges()"
   (onEsc)="cancel()" *ngIf="model" blockMouse>
  <div (mouseup)="onMouseUp($event)">
    <div *ngFor="let _variableInfo of model.varInfos">
      <fieldset>
        <legend>{{_variableInfo.alias ? _variableInfo.alias : _variableInfo.name}}</legend>
        <variable-value-editor *ngIf="_variableInfo.style === 0"
                               [value]="getVariableValueString(_variableInfo)"
                               [oneOf]="_variableInfo.usedInOneOf"
                               (valueChange)="setVariableValueString(_variableInfo, $event)"
                               [type]="_variableInfo.type" [timeInstantFormat]="timeInstantFormat">
        </variable-value-editor>
        <variable-collection-selector *ngIf="_variableInfo.style > 0" [style]="_variableInfo.style"
                                      [value]="_variableInfo.value"
                                      [labels]="_variableInfo.choices"
                                      [values]="getVariableValues(_variableInfo)"
                                      [dataTruncated]="_variableInfo.dataTruncated"
                                      (valueChange)="setVariableValue(_variableInfo, $event)">
        </variable-collection-selector>
      </fieldset>
    </div>
  </div>
</div>

<!-- Modal Footer -->
<div class="modal-footer" blockMouse>
  <button type="button" class="btn btn-primary" [disabled]="!model" (click)="saveChanges()" #okButton>_#(OK)</button>
  <button type="button" class="btn btn-default" (click)="clear()" [disabled]="clearDisabled()">_#(Clear)</button>
  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancel()">_#(Cancel)</button>
</div>
