/**
 * inetsoft-web - StyleBI is a business intelligence web application.
 * Copyright © 2024 InetSoft Technology (info@inetsoft.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
.scrollbar-container {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;

  .scrollbar-container-inner {
    overflow: hidden;
  }
}

.scrollbar-container:hover {
  overflow-y: auto;
}

.selection-container-children {
  overflow: visible;
  width: 100%;
}

.scrollbar-vertical-padding {
  position: relative;
  left: 0;
  top: 0;
}
