/**
 * inetsoft-web - StyleBI is a business intelligence web application.
 * Copyright © 2024 InetSoft Technology (info@inetsoft.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affrero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;

  > .presentation-settings-container {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 0;
    height: calc(100% - 96px);

    > .presentation-settings-content {
      flex-grow: 1;
      flex-shrink: 1;
    }

    > .presentation-settings-nav {
      flex-grow: 0;
      flex-shrink: 0;
      overflow-y: auto;

      .mat-mdc-list-item {
        &.mat-active {
          --mdc-list-list-item-label-text-weight: 700;
        }
        /*TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.
 */
        &.mat-list-item-focus {
          background: none;
        }
      }
    }
  }

  .presentation-settings-actions {
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 10px;
    overflow-y: auto;
  }


  @media screen and (max-device-width: 812px) {
    .em-presentation-container {
      max-width: 100vw;
      padding: 0;
      margin: 0;

      div {
        width: 100%;
      }
    }

    .presentation-settings-nav {
      display: none;
    }
  }
}