<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<em-modal-header [cshid]="'EMExecuteAs'" [title]="'_#(Execute As)'">
</em-modal-header>
<div>
  <form [formGroup]="form" class="flex-row">
    <mat-form-field class="margin-right">
      <mat-label>_#(Type)</mat-label>
      <mat-select value="Users" (selectionChange)="clearIdName()" formControlName="idType">
        <mat-option [value]="0">_#(Users)</mat-option>
        <mat-option [value]="1">_#(Groups)</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>_#(Execute As)</mat-label>
      <input matInput placeholder="" formControlName="idName"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let id of filteredIdentities | async" [value]="id.name">{{id.name}}</mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.controls['idName'].errors && form.controls['idName'].errors['invalidUser']">
        _#(Invalid user)
      </mat-error>
      <mat-error *ngIf="form.controls['idName'].errors && form.controls['idName'].errors['invalidGroup']">
        _#(Invalid group)
      </mat-error>
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="closeDialog(true)" [disabled]="!form.valid">_#(OK)</button>
  <button mat-button (click)="closeDialog(false)">_#(Cancel)</button>
</mat-dialog-actions>
