<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div #handle [class.schema-table-title--selected]="selected"
     [class.font-weight-bold]="selected"
     class="schema-table-title jsplumb-draggable-handle bb-gray"
     (mousedown)="interactWithSubtable($event, true)"
     (click)="interactWithSubtable($event, false)"
     (dblclick)="focusCompositeTable()">
  <ws-assembly-thumbnail-title [assembly]="schemaTable"
                               [menuActions]="createActions()"
                               [isVertical]="true"
  ></ws-assembly-thumbnail-title>
</div>
<ng-container *ngFor="let _col of columns">
  <schema-column [schemaTable]="schemaTable" [column]="_col" [twoStepJoinColumn]="twoStepJoinColumn"
                 mouseEvent (rightMouseDown)="interactWithSubtable($event, true)"
                 class="schema-table-body bb-gray">
  </schema-column>
</ng-container>

<div class="schema-table__resize-handle schema-table__resize-handle--left"
     [ngClass]="{'schema-table__resize-handle--dragging': resizeActiveSide === 'left'}"
     [style.transform]="resizeActiveSide === 'left' ? 'translateX(' + resizeXOffset + 'px)' : null"
     (mousedown)="startResize($event, 'left')">
</div>
<div class="schema-table__resize-handle schema-table__resize-handle--right"
     [ngClass]="{'schema-table__resize-handle--dragging': resizeActiveSide === 'right'}"
     [style.transform]="resizeActiveSide === 'right' ? 'translateX(' + resizeXOffset + 'px)' : null"
     (mousedown)="startResize($event, 'right')">
</div>
