/**
 * inetsoft-web - StyleBI is a business intelligence web application.
 * Copyright © 2024 InetSoft Technology (info@inetsoft.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
@import '../../../../../../../../node_modules/@angular/material/theming';

@mixin edit-fonts-dialog($theme) {
  $is-dark: map-get($theme, is-dark);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .edit-fonts-table {
    @if $is-dark {
      .table-header-row {
        background-color: mat-color($primary);
        color: mat-contrast($primary, default);
      }

      tr.table-row {
        &.disabled-row {
          background-color: mat-color($foreground, base, 0.05);
          color: mat-color($foreground, disabled-text)
        }

        &:not(.table-expanded-row):hover {
          background-color: mat-color($accent);
          color: mat-contrast($accent, default);
        }

        &:not(.table-expanded-row):active {
          background-color: mat-color($accent, 100);
          color: mat-contrast($accent, 100);
        }
      }
    }
    @else {
      .table-row-header {
        background-color: mat-color($primary, 200);
        color: mat-contrast($primary, 200);
      }

      tr.table-row {
        &.disabled-row {
          background-color: mat-color($foreground, base, 0.02);
          color: mat-color($foreground, disabled-text)
        }

        &:not(.table-expanded-row):hover {
          background-color: mat-color($primary, 50);
          color: mat-contrast($primary, 50);
        }

        &:not(.table-expanded-row):active {
          background-color: mat-color($primary, 100);
          color: mat-contrast($primary, 100);
        }
      }
    }
  }
}
