<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div blockMouse>
   <div class="modal-header">
        <h3 class="modal-title">_#(Select Color)</h3>
        <button type="button" class="btn-close" (click)="cancel()" aria-label="Close"></button>
   </div>
   <div class="modal-body">
     <div class="container-fluid">
       <div class="row g-3">
         <cp-color-map [width]="componentSize" [height]="componentSize" [hue]="hue"
                       [saturation]="saturation" (saturationChanged)="saturation=$event"
                       [brightness]="brightness" (brightnessChanged)="brightness=$event"
                       class="col-auto">
         </cp-color-map>
         <cp-color-slider class="col-auto" [height]="componentSize" [hue]="hue" (hueChanged)="hue=$event">
         </cp-color-slider>
         <cp-color-component-editor (componentSizeChanged)="componentSize=$event"
                                    [(hue)]="hue" [(saturation)]="saturation" [(brightness)]="brightness"
                                    [(red)]="red" [(green)]="green" [(blue)]="blue" [(hex)]="hex"
                                    class="col-auto">
         </cp-color-component-editor>
       </div>
     </div>
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-primary" (click)="ok()" defaultFocus>_#(OK)</button>
     <button type="button" class="btn btn-default" (click)="cancel()">_#(Cancel)</button>
   </div>
</div>
