<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div #dropdownBody class="dynamic-combo-box-body w-100 input-group">
  <ng-container *ngIf="type == ComboMode.VALUE">
    <ng-container [class.disable-actions]="disable">
      <div *ngIf="!editable && mode == ValueMode.TEXT" draggable="true"
           tooltipIf [disableTooltipIf]="!!tooltip"
           class="display-style bd-gray form-control" [ngClass]="getInputClass(value)"
           [class.span-as-dropdown]="isValuesDefinedAndNotEmpty()"
           [class.custom-select]="isValuesDefinedAndNotEmpty()"
           [class.disabled]="disable"
           [fixedDropdown]="selectOnClick ? null : valueDropdownMenu"
           dropdownPlacement="bottom" [attr.title]="tooltip"
           [autoClose]="!asTree" [disabled]="disable">
        {{getCurrentValue()}}&nbsp;
      </div>
      <input *ngIf="editable && mode == ValueMode.TEXT" class="form-control"
             [class.is-invalid]="invalid"
             [class.no-select-input-text]="!editable || disable"
             #textInput [ngClass]="getInputClass(value)"
             [placeholder]="promptString ? promptString : ''" type="text"
             [ngModel]="getCurrentValue()"
             (change)="onChanged($event)"
             (focus)="selectOnClick ? $event.target.select() : null"
             [fixedDropdown]="valueDropdownMenu"
             dropdownPlacement="bottom"
             [autoClose]="!asTree"
             (ngModelChange)="onValueTyping.emit($event)"
             [class.custom-select]="!editable && values && values.length > 0"
             [class.disabled]="disable"
             [readonly]="!editable" [disabled]="disable" [attr.title]="tooltip">
      <input *ngIf="mode == ValueMode.NUMBER" class="form-control"
             [class.disabled]="disable"
             [placeholder]="promptString" #numberInput
             type='number' [ngModel]="value" (change)="onChanged($event)"
             [fixedDropdown]="valueDropdownMenu"
             dropdownPlacement="bottom"
             (ngModelChange)="onValueTyping.emit($event)"
             [readonly]="!editable" [disabled]="disable" [attr.title]="value">
      <ng-template #valueDropdownMenu>
        <div class="dropdown-container dropdown-menu show" role="menu" blockMouse
             [style.min-width.px]="dropdownMinWidth"
          *ngIf="values && values.length">
          <ng-container *ngIf="!asTree">
            <div *ngFor="let choice of values; let i = index" placement="bottom">
              <a>
                <div class="dropdown-item dropdown-item-label"
                     [ngClass]="getDisplayClass(choice)"
                     [attr.title]="getTreeColTooltip(choice.label)"
                     (mousedown)="selectValue(choice)"
                     (mouseup)="closeDropdowns()">
                  <label *ngIf="isValueEnabled(choice)">
                    {{choice.label ? choice.label : choice}}
                  </label>
                  <label *ngIf="isExampleEnable(i)" class="dropdown-item-example ms-2">
                    {{examples[i]}}
                  </label>
                </div>
              </a>
            </div>
          </ng-container>
          <tree *ngIf="asTree" [root]="valueTree" [showRoot]="false"
                [selectedNodes]="selectedNodes" [showIcon]="true"
                (nodesSelected)="nodesSelected($event)" [showTooltip]="showTooltip"
                [initSelectedNodesExpanded]="initSelectedNodesExpanded">
          </tree>
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="type == ComboMode.VARIABLE">
     <select class="form-control" [ngModel]="value" [attr.title]="value"
            (ngModelChange)="valueChange.emit($event)" [disabled]="disable" data-test="variable-value-dropdown">
      <option [value]="variable" *ngFor="let variable of (variables ? variables.sort() : [])">
        {{variable}}
      </option>
    </select>
  </ng-container>
  <ng-container *ngIf="type == ComboMode.EXPRESSION">
    <input type="text" class="form-control" [class.disabled]="disable" [ngModel]="value" [attr.title]="value"
           (change)="onChanged($event)" [disabled]="disable">
    <button aria-hidden="true" class="btn input-group-btn-addon"
            [class.disable-actions]="disable" [class.disabled]="disable"
            (click)="showFormulaEditor()">
      <i class="formula-edit-icon icon-size-medium"></i>
    </button>
  </ng-container>

  <ng-template #typeDropdown>
    <ul class="list-group" blockMouse>
      <li class="list-group-item">
        <a class="dropdown-item" [class.selected]="type == ComboMode.VALUE"
           (click)="selectType($event, ComboMode.VALUE)">
          _#(Value)
        </a>
      </li>
      <li *ngIf="supportVariable" class="list-group-item">
        <a class="dropdown-item" [class.selected]="type == ComboMode.VARIABLE"
           [class.fade]="!isVariableEnabled()"
           (click)="selectType($event, ComboMode.VARIABLE)">
          _#(Variable)
        </a>
      </li>
      <li class="list-group-item">
        <a class="dropdown-item" [class.selected]="type == ComboMode.EXPRESSION"
           (click)="selectType($event, ComboMode.EXPRESSION)">
          _#(Expression)
        </a>
      </li>
    </ul>
  </ng-template>
  <button *ngIf="!valueOnly" class="type-toggle btn input-group-btn-addon"
          keyboardNav="true" [class.disable-actions]="disable" [class.disabled]="disable"
          [fixedDropdown]="typeDropdown" [autoClose]="true"
          title="_#(Value Type)"
          dropdownPlacement="bottom">
    <i class="function-and-variable-icon icon-size-medium"></i>
  </button>
</div>
