<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affrero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<modal-header [title]="'_#(Add Filter)'"
              (onCancel)="close()"
              [cshid]="'AddFilter'">
</modal-header>
<div class="modal-body" enterSubmit (onEnter)="ok()" *ngIf="model">
   <div class="bordered-box bd-gray bordered-box-md">
      <tree [root]="model" [showRoot]="false" [showTooltip]="true" [multiSelect]="true"
         (nodesSelected)="selectNodes($event)" [iconFunction]="getCSSIcon"></tree>
   </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">_#(Cancel)</button>
  <button defaultFocus type="button" class="btn btn-primary" (click)="ok()" #okButton>_#(OK)</button>
</div>
