<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<table class="table table-bordered table-sm w-100" wScrollableFlexTable>
  <thead class="thead-default">
    <tr>
      <th>_#(Name)</th>
      <th>_#(Value)</th>
      <th>_#(Data Type)</th>
      <th>_#(Action)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let param of parameters; let i = index">
      <td>{{ param.name }}</td>
      <td [title]="getParamValue(param)">{{ getParamValue(param) }}</td>
      <td>{{ param.array ? "Array" : param.type | titlecase }}</td>
      <td>
        <span class="icon-hover-bg edit-icon icon-size-medium icon-color-default" aria-label="_#(Edit)" title="_#(Edit)" (click)="openParameterDialog(i)"></span>
        <span class="icon-hover-bg trash-icon icon-size-medium icon-color-default" aria-label="_#(Delete)" title="_#(Delete)" (click)="removeParameter(i)"></span>
      </td>
    </tr>
    <tr *ngIf="!parameters || parameters.length == 0">
      <td class="text-center align-middle" colspan="4">_#(Empty)</td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-default" (click)="openParameterDialog()">_#(Add)</button>
<button type="button" class="btn btn-default clear_all_id ms-2" (click)="clearAllParameters()"
        [disabled]="!parameters || parameters.length == 0">_#(Clear All)</button>

<ng-template #addParameterDialog let-close="close" let-dismiss="dismiss">
  <add-parameter-dialog [parameterNames]="parameterNames"
                        [index]="editIndex"
                        [parameters]="parameters"
                        [supportDynamic]="true"
                        (onCommit)="close($event)"
                        (onCancel)="dismiss($event)"
  ></add-parameter-dialog>
</ng-template>
