<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="popup-editor__container">
  <div class="popup-editor__button-group">
    <button class="popup-editor__button btn" title="_#(Apply)"
         (click)="applyClick()">
      <i class="submit-icon icon-size-small" aria-hidden="true"></i>
    </button>
  </div>
  <div class="m-1">
    <formula-option [vsId]="vsId" [variables]="variables"
                    [availableFields]="availableFields"
                    [grayedOutValues]="grayedOutValues"
                    [enabled]="isAggregated()"
                    [aggregated]="isAggregated()"
                    [aggregate]="aggregate"
                    [formulaObjs]="formulaObjs">
    </formula-option>
  </div>
  <fieldset [disabled]="cube">
    <div class="m-1 mt-3">
    <calculate-pane [enabled]="isTrendSupported()" [aggregate]="aggregate"></calculate-pane>
    </div>
  </fieldset>
  <div *ngIf="!isVSWizard" class="m-1 mt-2 d-flex">
    <div class="form-check">
      <input id="discrete" type="checkbox" class="form-check-input"
           [(ngModel)]="discreteValue"
           [disabled]="discreteDisabled()"/>
      <label class="form-check-label" for="discrete">
        _#(Discrete)
      </label>
    </div>
    <div class="form-check ms-3">
      <input type="checkbox" id="secondary" class="form-check-input"
           [(ngModel)]="secondaryValue" *ngIf="isSecondaryAxisSupported"/>
      <label class="form-check-label" *ngIf="isSecondaryAxisSupported" for="secondary">
        _#(Secondary Axis)
      </label>
    </div>
  </div>
</div>
