<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="field-container" [draggable]="true"
  (dragstart)="dragStart($event)">
  <div class="drag-handle" *ngIf="isDynamicValue()"></div>
  <div class="fieldmc fieldmc-combo" *ngIf="field"
       [style.max-width]="isAesthetic ? 'unset' : null">
    <dynamic-combo-box class="fieldCombo" [value]="cellValue" [vsId]="vsId"
                       [assemblyName]="assemblyName" [variables]="variables"
                       [normalColumn]="isNormalColumn()"
                       [label]="cellLabel" data-test="chart-field-value-dropdown"
                       (valueChange)="changeColumnValue($event)" [tooltip]="cellLabel">
    </dynamic-combo-box>
    <div class="fieldEditIcon" *ngIf="isEditMeasure()"
         (openChange)="openChange($event)" [fixedDropdown]="dropdownMenu"
         [disabled]="!isEnabled" [autoClose]="false" [zIndex]="10000"
         [closeOnOutsideClick]="!dialogOpened"
         [attr.data-test]="cellLabel + ' measure dropdown'">
      <i class="icon-size-small btn-icon no-caret"
         [class.icon-disabled]="!isEnabled || !isEditMeasure()"
         [class.dimension-setting-icon]="getFieldClassType() === 'Dimension'"
         [class.measure-setting-icon]="getFieldClassType() === 'Measure'"
         title="{{getTitle()}}"></i>
    </div>
    <chart-type-button class="fieldEditIcon" [chartType]="aggregateField.chartType"
                       [multiStyles]="multiStyles" [stackMeasures]="stackMeasures"
                       *ngIf="isVisibleChartTypeButton()"
                       [refName]="field.fullName">
    </chart-type-button>
  </div>
</div>
<ng-template #dropdownMenu>
  <div class="dropdown-pane">
    <dimension-editor *ngIf="!field.measure"
                      [bindingModel]="bindingModel"
                      [dimension]="field" [fieldType]="fieldType"
                      [variables]="strippedDrillmemberVariables" [vsId]="vsId"
                      [grayedOutValues]="grayedOutValues"
                      [isOuterDimRef]="isOuterDimRef()"
                      [sortSupported]="isSortSupported()"
                      (apply)="openChange($event)"
                      (dialogOpen)="dialogOpened = $event">
    </dimension-editor>
    <aggregate-editor *ngIf="field.measure"
                      [isSecondaryAxisSupported]="isSecondaryAxisSupported(aggregateField)"
                      [availableFields]="bindingService.getBindingModel().availableFields"
                      [aggregate]="field" [fieldType]="fieldType" [chartType]="chartType"
                      [vsId]="vsId" [variables]="variables"
                      [grayedOutValues]="grayedOutValues"
                      (apply)="openChange($event)">
    </aggregate-editor>
  </div>
</ng-template>
