/**
 * inetsoft-web - StyleBI is a business intelligence web application.
 * Copyright © 2024 InetSoft Technology (info@inetsoft.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affrero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tab-body {
  flex: 2;
  width: 100%;
  height: calc(100% - 52px);
  min-height: 0;
}

.portal-toolbar-icon {
  vertical-align: middle;
}

.portal-navbar {
  .navbar-nav {
    flex-direction: row;
    height: 100%;
  }

  .nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.disabled {
      opacity: 0.3;
      cursor: default;
      pointer-events: none;
    }

    &.home {
      opacity: 1;
    }
  }

  .nav-link {
    cursor: pointer;
  }
}

.account-user-name {
   font-size: 15px;
   font-weight: bold;
   padding: 0.25rem 1.5rem;
}

.portal-dropdown {
  .dropdown-item {
    display: flex;
    align-items: center;

    &.disabled {
      pointer-events: none;
    }
  }
}

.no-hover {
  pointer-events: none;
}
