<!--

    inetsoft-web - StyleBI is a business intelligence web application.
    Copyright © 2024 InetSoft Technology (info@inetsoft.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<h3 mat-dialog-title>{{ title }}</h3>
<div mat-dialog-content>
  <ng-container *ngFor="let queryParam of params">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>{{queryParam.name}}</mat-label>
      <input matInput [placeholder]="queryParam.name" [(ngModel)]="queryParam.value"/>
    </mat-form-field>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="submit()">_#(OK)</button>
  <button mat-button (click)="cancel()">_#(Cancel)</button>
</div>